
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faGlasses"></fa-icon>&nbsp;Doki</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faCode"></fa-icon>&nbsp;Kroki</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faChartBar"></fa-icon>&nbsp;JMH Results</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <fa-icon [icon]="faStopWatch"></fa-icon>&nbsp;blah
    </li>

    <li class="ml-auto" aria-current="page">
      <input id="typeahead-basic" type="text" class="form-control" placeholder="Search"/>
    </li>
  </ol>
</nav>

<router-outlet></router-outlet>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul>
        <li>
          <a href="/api-doc/">API</a>
        </li>
        <li>
          <a href="https://github.com/K0zka/doki">source code</a>
        </li>
      </ul>

    </div>
    <div class="col-2 col-sm">
      <h5>Support</h5>
      <ul>
        <li>
          <a href="https://github.com/K0zka/doki/issues">bugtracker</a>
        </li>
        <li>
          <a href="">documentation</a>
        </li>
      </ul>
  </div>

  </div>


</footer>
