
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faGlasses"></fa-icon>&nbsp;Doki</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faCode"></fa-icon>&nbsp;Kroki</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a><fa-icon [icon]="faChartBar"></fa-icon>&nbsp;JMH Results</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <fa-icon [icon]="faStopWatch"></fa-icon>&nbsp;blah
    </li>

    <li class="ml-auto" aria-current="page">
      <input id="typeahead-basic" type="text" class="form-control" placeholder="Search"/>
    </li>
  </ol>
</nav>

<router-outlet></router-outlet>

